@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0B2434;
    font-family: 'Karla', sans-serif;
}

main {
    background-color: #F5F5F5;
    width: 320px;
    height: 320px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    font-size: 1.6rem;
    margin: 0;
    color: #2B283A;
    letter-spacing: -0.8px;
}

p {
    margin: 0;
    font-size: .8125rem;
    color: #4A4E74;
    letter-spacing: -0.8px;
    font-family: 'Inter', sans-serif;
    padding: 0 27px;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    margin: 30px 0 26px 0;
}

section button {
    width: 36px;
    height: 36px;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.286rem;
    border-radius: 4px;
    border: none;
    color: #2B283A;
    background-color: #FFF;
    box-shadow: 0 4px 2px -2px rgb(185, 184, 184);
    cursor: pointer;
}

.roll-btn {
    width: 92px;
    height: 36px;
    border-radius: 4px;
    border: none;
    background-color: #5035FF;
    color: #FFF;
    font-weight: bold;
    font-family: inherit;
    box-shadow: 0 4px 2px -2px rgb(185, 184, 184);
    cursor: pointer;
}